<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoman.mapper.textMapper">
  <resultMap id="BaseResultMap" type="com.xiaoman.dao.text">
    <constructor>
      <idArg column="text_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="marking_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="leader" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="load_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="agree_rate" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <resultMap id="DoneWork" type="com.xiaoman.dao.DoneWork">
    <result column="text_id" property="textId"/>
    <result column="content" property="content"/>
    <result column="leader" property="leader"/>
    <result column="agree_rate" property="agreeRate"/>
    <result column="title" property="title"/>
    <association property="marking" resultMap="com.xiaoman.mapper.markingMapper.BaseResultMap">
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    text_id, content, marking_id, leader, load_time, agree_rate,title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    text_id, content, marking_id, leader, load_time, agree_rate,title
    from text
    where text_id = #{textId,jdbcType=INTEGER}
  </select>
  <select id="selectToDoMarking"  resultMap="BaseResultMap">
    SELECT text.* FROM text WHERE text_id not in(SELECT text.text_id
    FROM text LEFT JOIN marking ON text.text_id=marking.text_id
    WHERE user_id = #{userId}) and leader=#{leader}
  </select>

  <select id="selectDoneWorkTextTable" parameterType="java.lang.Integer" resultMap="DoneWork">
    select text.content,text.leader,text.agree_rate,marking.*
    from text left join marking
    on text.text_id = marking.text_id
    where user_id = #{userId}
  </select>
  <select id="selectMarkedText" parameterType="java.lang.String" resultMap="DoneWork">
    SELECT text.text_id,text.content,text.leader,text.agree_rate,text.title,marking.*
    FROM text LEFT JOIN marking on text.text_id=marking.text_id where text.marking_id=marking.marking_id and text.leader=#{leaderName}
  </select>
  <select id="selectLeaderText" parameterType="java.lang.String" resultMap="BaseResultMap">
    select DATE_FORMAT(load_time, '%Y-%m-%d %H:%i:%S') as load_time,text_id, content, marking_id, leader, agree_rate,title from text where leader=#{leader}
  </select>
  <select id="selectByK" parameterType="java.lang.Double" resultMap="BaseResultMap">
    select * from text where agree_rate >= #{K} and agree_rate &lt; 1
  </select>

  <select id="selectByTextAndUser" parameterType="INTEGER" resultMap="DoneWork">
    select text.content,marking.*
    from text left join marking
    on text.text_id = marking.text_id
    where user_id = #{userId} and text.text_id=#{textId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from text
    where text_id = #{textId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaoman.dao.text">
    insert into text (text_id, content, marking_id,
      leader, load_time,agree_rate)
    values (#{textId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{markingId,jdbcType=INTEGER},
      #{leader,jdbcType=VARCHAR}, #{loadTime,jdbcType=TIMESTAMP},#{agree_rate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoman.dao.text">
    insert into text
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="textId != null">
        text_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="markingId != null">
        marking_id,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="loadTime != null">
        load_time,
      </if>
      <if test="agreeRate != null">
      agree_rate,
    </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="textId != null">
        #{textId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="markingId != null">
        #{markingId,jdbcType=INTEGER},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="loadTime != null">
      #{loadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agreeRate != null">
        #{agreeRate,jdbcType=DOUBLE},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoman.dao.text">
    update text
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="markingId != null">
        marking_id = #{markingId,jdbcType=INTEGER},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="loadTime != null">
        load_time = #{loadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agreeRate != null">
        agree_rate = #{agreeRate,jdbcType=DOUBLE},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where text_id = #{textId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoman.dao.text">
    update text
    set content = #{content,jdbcType=VARCHAR},
      markingId = #{markingId,jdbcType=INTEGER},
      leader = #{leader,jdbcType=VARCHAR},
      load_time = #{loadTime,jdbcType=TIMESTAMP}
      agree_rate=#{agreeRate,jdbcType=DOUBLE}
    where text_id = #{textId,jdbcType=INTEGER}
  </update>
</mapper>