textarea::selection {
    background:#ccc;
    color:#ff645d;
}
textarea::-moz-selection {
    background:#ccc;
    color:#ff645d;
}
textarea::-webkit-selection {
    background:#ccc;
    color:#ff645d;
}
